<footer class="footer-container">
 
        
    <article class="navegacion-footer">
        <div class="titulo-footer">Navegación</div>
        <ul class="nav-footer1">
            <li> <a href="/" class="style-link">Inicio</a></li>
            <li> <a class="style-link" href="/products/categories/1">Whiskys</a> </li>
            <li> <a class="style-link" href="/products/categories/5">Vinos</a> </li>
            <li> <a class="style-link" href="/products/categories/4">Gin</a> </li>
        </ul>
        <ul class ="nav-footer2">
            <li> <a class="style-link" href="/products/categories/6">Licores</a> </li>
            <li> <a class="style-link" href="/products/categories/3">Cervezas</a> </li>
            <li> <a class="style-link" href="/products/categories/2">Espumantes</a> </li>
            <li> <a href="/" class="style-link">Contacto </a></li>
        </ul>
    </article>

    <article class="medios-de-pago-footer">
        <p class="titulo-footer">Medios de pago</p>
        <img src="/images/medios-de-pago.png" alt="Medios de pago" class="medios-de-pago">
    </article>

    <article class="contactanos">
        <p class="titulo-footer">Contactanos</p>
        <p class="icon-footer"> <i class="fa-solid fa-phone-flip"></i>  1122334455</p>
        <p class="icon-footer"> <i class="fa-solid fa-envelope"></i>  contact-us@email.com</p>
        <p class="icon-footer"> <i class="fa-solid fa-location-pin"></i>  Av. Alguna dirección 1234</p>
    </article>

    <article class="redes-sociales">
        <p class="titulo-footer">Redes sociales</p>
        <a href="/" class="style-link icon-footer"> <i class="fa-brands fa-instagram"></i></a>
        <a href="/" class="style-link icon-footer"> <i class="fa-brands fa-facebook"></i></a>
        <a href="/" class="style-link icon-footer"> <i class="fa-brands fa-twitter"></i></a>
    </article>
    <article class="copyright-footer">
        <div>Edrinks Corporation © 2022</div>
    </article>
</footer>