<header> 
    <div class="inicio">

            <img class="logo" src="/images/edrinks.png" alt="Logo">
       

        <div class="navBar">
            <ul class="nav">
                <li class="item"> <a class="style-link" href="./products/whiskys">Whiskys</a> </li>
                <li class="item"> <a class="style-link" href="./products/vinos">Vinos</a> </li>
                <li class="item"> <a class="style-link" href="./products/cervezas">Cervezas</a> </li>
                <li class="item"> <a class="style-link" href="./products/gins">Gin</a> </li>
            </ul>
        </div>       
    
        
        <div class="busqueda">
            <input class="barra-busqueda" type="search" name="busqueda" placeholder="Buscar productos, marcas"> 
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        
        <div class="cart-user"> 
            <a class="iconos-header" href="../users/login"><i class="fa-solid fa-user"></i></a>
            <a class="iconos-header" href="#"> <i class="fa-solid fa-cart-shopping"></i></a>
        </div>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>    
</header>