<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
    
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
rel="stylesheet" />
 <meta name="viewport" content="width=device-wid th, initial-scale=1">
</head>
<body>
    <header> 
            <div class="inicio">
                <img class="logo" src="/images/edrinks.svg" alt="Logo">
                <div class="busqueda">
                    <input class="barra-busqueda" type="search" name="busqueda" placeholder="Buscar productos, marcas"> 
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="cuotas"> 
                    <i class="fa-solid fa-user"></i>
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
           
                <div class="navBar">
                    <ul class="nav">
                        <li class="item"> <a href="/">Ofertas</a> </li>
                        <li class="item"> <a href="/">Tiendas Oficiales</a> </li>
                        <li class="item"> <a href="/">Vender</a> </li>
                        <li class="item"> <a href="/">Ayuda</a> </li>
                    </ul>
    
                </div>
           
            </div>
            
            <div class="burger-menu">
                    <i class="fas fa-bars"></i>
            </div>    
    </header>


    <main>
            <section class="banner">
                <img src="/images/banner2.webp" alt="home banner" class="home-banner">
            </section>
           
            <div class="pie">
                <article class="pie-item">
                    <div class="footer-icon">
        
                        <i class="fa-solid fa-credit-card"></i>
                    </div>
                    <h4>Pagá con tarjeta o en efectivo </h4>
                    <p> Con Mercado Liebre Cash, tenés cuotas sin <br>
                        interés con tarjeta o efectivo en puntos de <br> 
                        pago. ¡Y siempre es seguro!  
                    </p>
                </article>
                <br>
                
                <article class="pie-item2">
                    <div class="footer-icon">
        
                        <i class="fa-solid fa-gift"></i>
                    </div>
                    <h4>Envío gratis desde $ 2.500  </h4>
                    <p> Solo por estar registrad@ en Mercado Liebre <br>
                        tenés envíos gratis en miles de productos. Es <br> 
                        un beneficio de Mercado Puntos.  
                    </p>
                </article>
                <br>
                
                <article class="pie-item">
                <div class="footer-icon">
                    <i class="fa-solid fa-user-shield"></i>
                </div>
                    <h4>Seguridad, de principio a fin  </h4>
                    <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, <br>
                        no hay nada que no puedas hacer, porque estás <br> 
                        siempre protegid@  
                    </p>
                </article>
            </div>
           
            <h3 class="titulares">Categorias</h3>
            <section class="categorias"> 

            
                
                    <article class="producto">
                        <img src="/images/vinos.webp" alt="Cafetera Moulinex" class="imagen-producto">
                        <div class="descripcion-producto">
                            <i class="fa-solid fa-plus"></i>
                            <!-- <div class="precio-descuento">
                                <p class="precios">$6.770</p>
                                <p class="descuentos">40% off</p>
                            </div>
                            <p class="descripciones">Cafetera Moulinex</p> -->
                        </div>
                    </article>
            
                
               
                    <article class="producto"> 
                        <img src="/images/whiskys.webp" alt="Macbook Pro" class="imagen-producto">
                        <div class="descripcion-producto">
                            <i class="fa-solid fa-plus"></i>
                            <!-- <div class="precio-descuento">
                                <p class="precios">$230.000</p>
                                <p class="descuentos">20% off</p>
                            </div>
                            <p class="descripciones">MacBook Pro 2019</p> -->
                        </div>
                    </article>
                
                
                
                    <article class="producto">
                        <img src="/images/cervezas.webp" alt="Samsung Galaxy S10" class="imagen-producto">
                        <div class="descripcion-producto">
                            <i class="fa-solid fa-plus"></i>
                            <!-- <div class="precio-descuento">
                                <p class="precios">$70.500</p>
                                <p class="descuentos">10% off</p>
                            </div>
                            <p class="descripciones">Samsung Galaxy S10</p> -->
                        </div>
                    </article>
               
                
                
                     
                 
            </section>
            <h3 class="titulares">Ofertas</h3>
            <section class="ofertas"> 
            
                
                    <article class="producto">
                        <img src="/images/vinos.webp" alt="Cafetera Moulinex" class="imagen-producto">
                        <div class="descripcion-producto">
                            <i class="fa-solid fa-truck"></i>
                            <div class="precio-descuento">
                                <p class="precios">$6.770</p>
                                <p class="descuentos">40% off</p>
                            </div>
                            <p class="descripciones">Cafetera Moulinex</p>
                        </div>
                    </article>
            
                
               
                    <article class="producto"> 
                        <img src="/images/whiskys.webp" alt="Macbook Pro" class="imagen-producto">
                        <div class="descripcion-producto">
                            <i class="fa-solid fa-truck"></i>
                            <div class="precio-descuento">
                                <p class="precios">$230.000</p>
                                <p class="descuentos">20% off</p>
                            </div>
                            <p class="descripciones">MacBook Pro 2019</p>
                        </div>
                    </article>
                
                
                
                    <article class="producto">
                        <img src="/images/cervezas.webp" alt="Samsung Galaxy S10" class="imagen-producto">
                        <div class="descripcion-producto">
                            <i class="fa-solid fa-truck"></i>
                            <div class="precio-descuento">
                                <p class="precios">$70.500</p>
                                <p class="descuentos">10% off</p>
                            </div>
                            <p class="descripciones">Samsung Galaxy S10</p>
                        </div>
                    </article>
                 
            </section>
       
        </section>

        <h3 class="titulares">Productos</h3>
        <section class="productos"> 
        
            
                <article class="prod-producto">
                    <img src="/images/vino-rutini.png" alt="Cafetera Moulinex" class="imagen-producto">
                    <div class="descripcion-producto">
                        <i class="fa-solid fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% off</p>
                        </div>
                        <p class="descripciones">Cafetera Moulinex</p>
                    </div>
                </article>
        
            
           
                <article class="prod-producto">
                    <img src="/images/vino-rutini.png" alt="Cafetera Moulinex" class="imagen-producto">
                    <div class="descripcion-producto">
                        <i class="fa-solid fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% off</p>
                        </div>
                        <p class="descripciones">Cafetera Moulinex</p>
                    </div>
                </article>
            
            
            
                <article class="prod-producto">
                    <img src="/images/vino-rutini.png" alt="Cafetera Moulinex" class="imagen-producto">
                    <div class="descripcion-producto">
                        <i class="fa-solid fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% off</p>
                        </div>
                        <p class="descripciones">Cafetera Moulinex</p>
                    </div>
                </article>

                <article class="prod-producto">
                    <img src="/images/vino-rutini.png" alt="Cafetera Moulinex" class="imagen-producto">
                    <div class="descripcion-producto">
                        <i class="fa-solid fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% off</p>
                        </div>
                        <p class="descripciones">Cafetera Moulinex</p>
                    </div>
                </article>

                <article class="prod-producto">
                    <img src="/images/vino-rutini.png" alt="Cafetera Moulinex" class="imagen-producto">
                    <div class="descripcion-producto">
                        <i class="fa-solid fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% off</p>
                        </div>
                        <p class="descripciones">Cafetera Moulinex</p>
                    </div>
                </article>

                <article class="prod-producto">
                    <img src="/images/vino-rutini.png" alt="Cafetera Moulinex" class="imagen-producto">
                    <div class="descripcion-producto">
                        <i class="fa-solid fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% off</p>
                        </div>
                        <p class="descripciones">Cafetera Moulinex</p>
                    </div>
                </article>

                <article class="prod-producto">
                    <img src="/images/vino-rutini.png" alt="Cafetera Moulinex" class="imagen-producto">
                    <div class="descripcion-producto">
                        <i class="fa-solid fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% off</p>
                        </div>
                        <p class="descripciones">Cafetera Moulinex</p>
                    </div>
                </article>

                <article class="prod-producto">
                    <img src="/images/vino-rutini.png" alt="Cafetera Moulinex" class="imagen-producto">
                    <div class="descripcion-producto">
                        <i class="fa-solid fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% off</p>
                        </div>
                        <p class="descripciones">Cafetera Moulinex</p>
                    </div>
                </article>

                <article class="prod-producto">
                    <img src="/images/vino-rutini.png" alt="Cafetera Moulinex" class="imagen-producto">
                    <div class="descripcion-producto">
                        <i class="fa-solid fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% off</p>
                        </div>
                        <p class="descripciones">Cafetera Moulinex</p>
                    </div>
                </article>
             
                <article class="prod-producto">
                    <img src="/images/vino-rutini.png" alt="Cafetera Moulinex" class="imagen-producto">
                    <div class="descripcion-producto">
                        <i class="fa-solid fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% off</p>
                        </div>
                        <p class="descripciones">Cafetera Moulinex</p>
                    </div>
                </article>

                <article class="prod-producto">
                    <img src="/images/vino-rutini.png" alt="Cafetera Moulinex" class="imagen-producto">
                    <div class="descripcion-producto">
                        <i class="fa-solid fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% off</p>
                        </div>
                        <p class="descripciones">Cafetera Moulinex</p>
                    </div>
                </article>

                <article class="prod-producto">
                    <img src="/images/vino-rutini.png" alt="Cafetera Moulinex" class="imagen-producto">
                    <div class="descripcion-producto">
                        <i class="fa-solid fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% off</p>
                        </div>
                        <p class="descripciones">Cafetera Moulinex</p>
                    </div>
                </article>

                <article class="prod-producto">
                    <img src="/images/vino-rutini.png" alt="Cafetera Moulinex" class="imagen-producto">
                    <div class="descripcion-producto">
                        <i class="fa-solid fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% off</p>
                        </div>
                        <p class="descripciones">Cafetera Moulinex</p>
                    </div>
                </article>

        </section>
    
        
        </main>
    
    <footer>
    <div class="pie">
        <article class="pie-item">
            <div class="footer-icon">

                <i class="fa-solid fa-credit-card"></i>
            </div>
            <h4>Pagá con tarjeta o en efectivo </h4>
            <p> Con Mercado Liebre Cash, tenés cuotas sin <br>
                interés con tarjeta o efectivo en puntos de <br> 
                pago. ¡Y siempre es seguro!  
            </p>
        </article>
        <br>
        
        <article class="pie-item">
            <div class="footer-icon">

                <i class="fa-solid fa-gift"></i>
            </div>
            <h4>Envío gratis desde $ 2.500  </h4>
            <p> Solo por estar registrad@ en Mercado Liebre <br>
                tenés envíos gratis en miles de productos. Es <br> 
                un beneficio de Mercado Puntos.  
            </p>
        </article>
        <br>
        
        <article class="pie-item">
        <div class="footer-icon">
            <i class="fa-solid fa-user-shield"></i>
        </div>
            <h4>Seguridad, de principio a fin  </h4>
            <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, <br>
                no hay nada que no puedas hacer, porque estás <br> 
                siempre protegid@  
            </p>
        </article>
        <br>
        
    </div> 
    <p>Copyright © 1999-2020 MercadoLiebre S.R.L</p>   
    </footer>
</body>
</html>