/* paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a; */

/* Estilos Generales */

/* ------------------------BODY--------------------------------- */
body {
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 16px;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
/* 
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    background-color: white;
    width: 100%; */
}
/* -------------HEADER--------------------- */
header{
   background-color: #eae0c2;
   width: 100%;
   height: 80px;
  
}
.inicio{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap; 

}

.container-logo{
    width: 30%;
    height: 50%;
    margin-top: 6%;
}

.logo{
    width: 100%;
    margin-right:1%;
    background-color: #EAE0C2;
}

.navBar{
    width: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    display: none;
    margin-top: 3%;
    font-size: 12px;   
}

.nav{
    display: flex;
    justify-content: space-around;
    flex-grow: 1; 
    list-style:none;
    text-align: left;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
    font-size: 12px
}
.item{
    margin-top: 4%;
    color: white;
    text-decoration: none;
    color: inherit;
} 

.style-link {
    color: black;
    margin-bottom: 1px;
    list-style:none;
    text-decoration: none;
    font-weight: bold;
}
.style-link:hover {
    font-weight: bolder;
    color: black;
    text-decoration: underline;
}
.busqueda{
    width: 50%;
    height: 50%;
    margin-top: 7%; 
    background-color: #EAE0C2;
    position: relative;
}
.barra-busqueda{
    width: 95%;
    height: 30px;
    padding-left: 5px;
    background-color: #EAE0C2;
    text-align: left;
    font-size: 14px;
  
    
}

.fa-magnifying-glass{
    padding: 5px;
    padding-bottom: 7px;
    text-align: center;
    position: absolute;
    top: 4%;
    right: 7%;
}

.cart-user{
    width: 12%;
    height: 100%;
    text-align: center;
    margin-top: 8%;
    height: 30px;
    color: inherit;
    text-decoration: none;
    
}

.iconos-header{
    text-decoration: none;
    color: black;
}

.register-log-header{
    text-decoration: none;
    color: black;
    display: none
}

.iconos-header:hover{
    color: black;
}

.burger-menu{
    width: 7%;
    height: 100%;
    margin-top:8.5%;
    text-align: center;
    height: 30px;
}

.fa-bars{
    color: black;
    font-size: 18px;
    text-align: center;
   
    border-radius:5px;
    display: block;
   
}


/* ----------------FOOTER------------------------- */


.footer-container {
    background-color: #eae0c2;
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder; 
    margin-top:auto;
}
.navegacion-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    font-size: 14px;
}
.nav-footer1 {
    width: 40%;
    list-style: none;
    padding-left: 20px;
    color: black;
}
.nav-footer2 {
    width: 40%;
    list-style: none;
    padding-left: 20px;
    color: black;
}
.titulo-footer {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0.5px;
    padding: 5px 10px;
    width: 100%;
    font-size: 16px;
    text-decoration: underline;
}
.medios-de-pago {
    width: 50%;
    padding-left: 10px;
}
.icon-footer {
    margin-bottom: 1px;
    margin-left: 10px;
}

.copyright-footer {
    text-align: right;
    font-size: 14px;
    margin-top: 3px;
    font-style: italic;
}
.redes-sociales {
    width: 100%;
}
.contactanos {
    font-size: 14px;
}
.copyright-footer {
    position: absolute;
    bottom: 2px;
    right: 2px;
    font-size: 12px;
}

/* -----------------------HOME------------------------------------ */
/* ------------------HOME BANNER------------- */
.home-banner{
    width: 100%;
    height: 400px;
    
}

#carouselExampleSlidesOnly{
    text-align: center;
}

.info{
    display: none;
    margin-top: 2%;
    width: 100%;
    justify-content: space-around;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    }
    .info-item{
        font-size: 25px;
        text-align: center;
        margin-left: 5px;
        margin-right: 5px;
        width: 25%;    
    }
    
    
    .info-item2{
        font-size: 25px;
        text-align: center;
        width: 25%;
        border-left: double 1px #666;
        border-right: double 1px #666;
        padding-left: 30px;
        padding-right: 30px;
        
        
    }
    
    .info-icon{
        font-size: 2em;
        color:gray;
        margin-bottom: 10px;
    }
/* -------------------------Main---------------------------------------- */
main{
    width: 100%;
    height: 100%;
    /* text-align: center; */
    background-color: white ;
    
    }


 .titulares{
    font-size: 24px;
    color: #666;
    text-align: center;
    margin: 1%;
    font-weight: bolder;
       
}   

/* ---------CATEGORIAS -------------------- */

.categorias{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;   
}

.producto{
    
    margin: 3px;
    margin: 10px;
    
    width: 100%;
    height: 100%;
    position: relative;          
}

.imagen-producto{
    width: 100%;
    height: 100%;        
}

.descripcion-producto-home{
   
   
    display: block;
    
 }
 

.descripciones-whiskys{
    font-size: 30px;
    font-weight: bolder;
    color: white;
    position: absolute;
    top: 30%;
    right: 35%;
}

.descripciones-espumantes{
    font-size: 30px;
    font-weight: bolder;
    color: white;
    position: absolute;
    top: 30%;
    right: 28%;
}

.descripciones-cervezas{
    font-size: 30px;
    font-weight: bolder;
    color: white;
    position: absolute;
    top: 30%;
    right: 30%;
}

.descripciones-gins{
    font-size: 30px;
    font-weight: bolder;
    color: white;
    position: absolute;
    top: 30%;
    right: 41%;
}

.descripciones-vinos{
    font-size: 30px;
    font-weight: bolder;
    color: white;
    position: absolute;
    top: 30%;
    right: 40%;
}

.descripciones-licores{
    font-size: 30px;
    font-weight: bolder;
    color: white;
    position: absolute;
    top: 30%;
    right: 35%;
}




/* --------------OFERTAS------------------------ */

.ofertas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.banner{
    text-align: center;
}
.ofertas-banner{
    width: 40%;
    margin: 10px;
}


.ofer-producto{
    
    margin: 3px;
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    height: 100%;
    background-color: white; 
    
               
}

.imagen-ofer-producto{
    width: 100%;
    height: 100%;        
}

.descripciones-ofer-producto{
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
}

.ofer-precio-descuento{
    display: flex;
    flex-wrap: wrap;
}
.ofer-precios{
    font-size: 20px;
    width: 50%;
    text-align: center;
}
.descuentos{
    font-size: 25px;
    color:#39b54a;
    width: 50%;
    text-align: center;
} 


.ofer-container-button-carrito{
margin-bottom: 10px;
padding-top: 3px;
width: 100%;
text-align: center;
justify-content: center;
flex-grow: 0.8;

}

.ofer-button-carrito {
width: 80%;
background-color:#eae0c2;
border-radius:8px;
border:1px solid #333029;
display:inline-block;
cursor:pointer;
color:black;
font-size:14px;
padding:8px 10px;
font-family: 'PT Sans Narrow', sans-serif;
font-size: 15px;
}
.ofer-button-carrito:hover {
color: black;
border:2px solid #333029;
}





/* ---------------PRODUCTOS---------------------- */

.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.prod-producto{
    
    margin: 20px;
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    height: 100%;
    background-color: white; 
    position: relative;
               
}

.imagen-prod-producto{
    width: 100%;
    height: 100%;        
}

.prod-precio-descuento{
    display: flex;
}
.prod-precios{
    font-size: 20px;
    width: 50%;
    text-align: center;
    font-size: 20px;
    flex-grow: 1;
}


.descripciones-prod-producto{
    font-size: 20px;
    font-weight: bold;
    color: black;
}

/* -------------------------------------------PRODUCT DETAIL---------------------------------- */

.product-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 60px;
    position:relative;
}
.imagen-con-lupa {
    width: 90%;
    box-shadow: 0px 0px 2px rgb(100, 100, 100);
    display: block;
    position:relative;
}
.imagen-con-lupa:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.imagen-producto {
    width: 100%;
    height: 100%;
}
.fa-magnifying-glass-plus {
    background-color: transparent;
    position: absolute;
    right: 15px;
    top:13px;
    border:1px solid #333029;
    padding:3px;
    color: #333029;
}
.detalles-producto {
    width: 90%;
    margin-top: 10px;
}
.nombre-producto {
    font-size: 30px;
    margin-top: 10px;
    margin-left: 5px;
}
.half-rating {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    display:none;
}
.precios {
    font-size: 25px;
    margin-top: 10px;
    font-weight: bold;
    margin-left: 5px;
}
.descripcion-producto {
    text-align: justify;
    font-size: 18px;
    margin-top: 30px;
    line-height: 30px;
    display:none;
}
.container-cantidad {
    margin-top: 20px;
    padding-top: 10px;
    border-top: darkgray 1px solid;  
    display: flex;
    justify-content: space-between;
}
.label-cantidad {
    font-size: 16px;
    width: 20%;
    margin-left: 5px;
}
.cantidades {
    width: 20%;
    width: 40px;
    text-align: center;
}
.container-button-carrito {
    margin-top: 10px;
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.button-carrito {
    width: 100%;
	background-color:#eae0c2;
	border-radius:8px;
	border:1px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#333029;
	font-size:14px;
	padding:10px 14px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
}
.button-carrito:hover {
    color: black;
	border:2px solid #333029;
}

/* ----------------------------------------SIMILAR PRODUCTS------------------------------------------ */
.titulo-similar-products {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin: 15px;
    padding: 5px;
}
.container-similar-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.similar-product {
    width: 40%;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}
.imagen-producto-similar {
    width: 100%;
}
.nombre-producto-similar {
    font-size: 14px;
    font-weight: lighter;
    width: 100%;
    padding:1px;
}
.precios-producto-similar {
    font-size: 18px;
    padding:1px;
    font-weight: bolder;
    text-align: center;
}
.container-button-psimilar {
    margin-top: 3px;
    padding-top: 3px;
    width: 85%;
    display: flex;
    justify-content: center;
    margin-left: 17px;
}
.button-psimilar {
    width: 110%;
	background-color:#eae0c2;
	border-radius:8px;
	border:1px solid #333029;
	display:inline-block;
	cursor:pointer;
    color: #333029;
	font-size:12px;
	padding:8px 10px;    
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 15px;
}
.button-psimilar:hover {
    color: black;
	border:2px solid #333029;
}

/* --------------------------------------------------PRODUCT CART------------------------------ */
.product-cart {
    border: solid 1.5px #6B6C6A;
    padding: 20px 15px;
    margin: 25px 20px;
}

.titulos-product-cart {
    border-bottom: solid 0.5px #6B6C6A;
    padding: 2px;
    font-size: 22px;
    font-weight: bold;
}

.subtitulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 10px;
    border-bottom: solid 0.5px #6B6C6A;
    font-weight: bold;
    font-size: 18px;
}

.card {
    border-bottom: solid 0.5px #6B6C6A;
    margin-bottom: 15px;
}

.descripcion {
    font-size: 14px;
    margin-left: 10px;
    font-weight: 500;
}

.cart-article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 5px 10px;
    position: relative;
}

.product-image {
    width: 30%;
    height: 30%;
 }

 .contador {
     border-radius: 5px;
     border: solid 0.5px #6B6C6A;
     padding: 5px 5px;
     width: 20%;
     height: 50%;
     text-align: center;
     font-weight: bold;
 }

 .fa-trash-can {
    color:#6B6C6A;
    display: block;
    align-items: flex-end;
    position: absolute;
    right: 15px;
    top: -10px; 
    width: 15px;
    height: 20px;
}
.precio-total {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
}
.total-compra {
    margin-right: 20px;
}
.texto-final {
    font-size: 12px;
    font-style: italic;
    text-align: center;
}
.boton {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding: 7px;
}
.boton-comprar {
    width: 40%;
    background-color:#eae0c2;
    border-radius:8px;
    border:1px solid #333029;
    display:inline-block;
    cursor:pointer;
    color:black;
    font-size:16px;
    padding:10px 14px;
    font-family: 'PT Sans Narrow', sans-serif;
}


/* -----------------------------------------REGISTER------------------------------------------------ */
.contenedor {
    margin-bottom: 20px;
}

.contenedor h2{
    text-align: center;
    margin: 20px;
    font-size: 20px;
}

.f-registro {
    padding: 20px 15px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    border: rgba(0, 0, 0, 0.438) solid 3px;
    width: 90%;
    margin: auto;
    box-shadow: 0px 0px 8px rgb(100, 100, 100);
}

.f-registro div {
    margin-bottom: 15px;
}

.f-registro div label {
    margin-bottom: 5px;
    font-style: italic;
    display: block;
    font-size: 14px;
}

.barra {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.f-registro button {
    border-radius: 5px;
    background-color: #eae0c2;
    color: black;
    padding: 8px;
    margin: 10px 0px;
}
.enviar {
    width: 100%;
    background-color:#eae0c2;
    border-radius:8px;
    border:1px solid #333029;
    display:inline-block;
    cursor:pointer;
    color:#333029;
    font-size:14px;
    padding:10px 14px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
}
.enviar:hover {
    color: black;
    border:2px solid #333029;
}
.borrar {
    width: 100%;
    background-color:#eae0c2;
    border-radius:8px;
    border:1px solid #333029;
    display:inline-block;
    cursor:pointer;
    color:#333029;
    font-size:14px;
    padding:10px 14px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
}
.borrar:hover {
    color: black;
    border:2px solid #333029;
}

/*----------------------------------------------------LOGIN---------------------------------------------------------------*/
.log-cont {
    margin-top: 50px; 
    margin-bottom: 30px;
}
.log-cont h2{
    text-align: center;
    margin: 20px;
    font-size: 20px;
}
.log-form {
    padding: 20px 15px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    border: rgba(0, 0, 0, 0.438) solid 3px;
    width: 90%;
    margin: auto;
    box-shadow: 0px 0px 8px rgb(100, 100, 100);
    margin-bottom:30px
}
.log-form div {
    margin-bottom: 15px;
}

.log-form div label {
    margin-bottom: 5px;
    font-style: italic;
    display: block;
    font-size: 14px;
}
.barra {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.text-danger {
    color: #dc3545 !important
}

.log-form button {
    border-radius: 5px;
    background-color: #eae0c2;
    color: black;
    padding: 8px;
    margin: 10px 0px;
}
.ingresar:hover {
    background-color: green
}

/* -----------------------------------------------------PROFILE-------------------------------------------- */
.profileImage{
    text-align: center;
}

/*------------------------------------MEDIA QUERIES--------------------------------------------------------*/


@media (min-width:480px) {
/* --------------------------------GENERAL----------------------------------------- */
/* ---------------------------------------HEADER---------------------------------------- */
   .container-logo{
       width: 19%;
       height: 80%;
       margin-top: 0%;
   } 
   .logo{
    width: 100%;    
    height: 95%;
    }

    .busqueda{
        width: 20%;
        margin-top: 1.5%;
    }
  

    .cart-user{
        width: 16%;
        margin-top: 2%;
    }
    
    .burger-menu{
        display: none;
        
    }

    .navBar{
        display:block;
        width: 45%;
        margin-top: 0%;
        height: 50%;
    }

    .item{
        font-size: 16px;
        font-weight: bolder;
    }
     /* -------------------------------------------------------HOME------------------------------------ */
    .producto{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 45%;
    height: 100%;
    }

    .ofer-producto{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 45%;
        height: 100%;
        }

    .prod-producto{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 45%;
        height: 100%;
    }
    
    .descripcion-producto{
    display: block;
    } 
    .descripciones{
    display: block;
    }
    }





    @media (min-width:768px) {
    /* --------------------------------GENERAL----------------------------------------- */
/* ---------------------------------------HEADER---------------------------------------- */
  .container-logo{
      width: 19%;
      height: 100%;
      margin-top: 0%;
      
  }  

    .logo{
    width: 80%;    
    height: 80%;
    }
    .cart-user{
        margin-top: 2%;
    }

/* ---------------------------------------------------------FOOTER-------------------------------- */

.footer-container { 
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder; 
} 
.titulo-footer {
    font-weight: bolder;
    margin-top: 5px;
    margin-bottom: 0.5px;
    padding: 5px 10px;
    width: 100%;
}
.navegacion-footer {
    width: 25%;
}
.medios-de-pago-footer {
    width: 25%
}
.medios-de-pago {
    width: 70%;
}
.contactanos {
    width: 25%;
    font-size: 12px;
}
.redes-sociales {
    width: 20%;
} 
.copyright-footer {
    position: absolute;
    bottom: 2px;
    right: 2px;
}
.titulo-footer {
    font-weight: bolder;
    margin-top: 5px;
    margin-bottom: 0.5px;
    padding: 5px 10px;
    width: 100%;
    font-size: 14px
}


  /* -----------------------------------------------BANNER------------------------------------       */
    #carouselExampleSlidesOnly{
        display: none;
    }
     
    .info{
        display: flex;
    }
    .item{
        font-size: 16px;
    } 

    /* ----------------------------------------------HOME----------------------------------------- */
    .titulares{
        font-size: 40px;
    }
    
    .producto{
        width: 30%;
    }
    .prod-producto{
        width: 23%;
    }
    .ofer-producto{
        width: 23%;
    } 
/* ----------------------------------------------PRODUCT DETAIL--------------------------------- */
.product-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 60px;
    position:relative;
}
.imagen-con-lupa {
    width: 50%;
    box-shadow: 0px 0px 2px rgb(100, 100, 100);
    display: block;
    position:relative;
}
.imagen-con-lupa:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.imagen-producto {
    width: 100%;
    height: 100%;
}
.fa-magnifying-glass-plus {
    background-color: transparent;
    position: absolute;
    right: 15px;
    top:13px;
    border:1px solid #333029;
    padding:3px;
    color: #333029;
}
.detalles-producto {
    width: 40%;
}
.nombre-producto {
    font-size: 35px;
    font-weight: bold;
}
.half-rating {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}
.precios {
    font-size: 30px;
    margin-top: 30px;
    border-bottom: solid 2px black;
    border-top: solid 2px black;
    padding-top: 40px;
    padding-bottom: 40px;
}
.descripcion-producto {
    text-align: justify;
    font-size: 18px;
    margin-top: 30px;
    line-height: 30px;
}
.container-cantidad {
    margin-top: 15px;
    padding-top: 10px;
    border-top: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.label-cantidad {
    font-size: 18px;
    width: 70%;
}
.cantidades {
    width: 10%;
    text-align: center;
}
.button-carrito {
    width: 100%;
	background-color:#eae0c2;
	border-radius:8px;
	border:1px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-size:14px;
	padding:10px 14px;  
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
}
.container-button-carrito {
    margin-top: 15px;
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: left;
}
    /* ---------------------------SIMILAR PRODUCTS--------------------------------- */
    .titulo-similar-products {
        text-align: center;
        font-weight: bolder;
        font-size: 30px;
        margin: 35px;
        padding: 5px;
    }
    .container-similar-products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }
    .similar-product {
        width: 25%;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .imagen-producto-similar {
        width: 100%;
    }
    .nombre-producto-similar {
        font-size: 16px;
        width: 100%;
        padding:1px;
        text-align: center;
    }
    .precios-producto-similar {
        font-size: 24px;
        width: 80%;
        margin-left: 35px;
        padding:1px;
        font-weight: bolder;
        text-align: center;
    }
    .container-button-psimilar {
        margin-top: 3px;
        padding-top: 3px;
        width: 87%;
        display: flex;
        justify-content: center;
    }
    .button-psimilar {
        width: 100%;
        background-color:#eae0c2;
        border-radius:8px;
        border:1px solid #333029;
        display:inline-block;
        cursor:pointer;
        color:black;
        font-size:14px;
        padding:8px 10px;  
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 15px;
    }
    /* ----------------------------------------PRODUCT CART---------------------------------------- */
.product-cart{
    margin: 7% 15%;
    width: 70%;
}

.register-log-header{
    
    display: inline-block
}

/* ----------------------------------------------REGISTER---------------------------------------------- */
.f-registro {
    width: 30%;
    margin: auto;
}
.barra {
    width: 100%;
}

/* ---------------------------------------------------LOGIN-------------------------------------------------------- */
.log-form {
    width: 30%;
    margin: auto;
    margin-bottom: 30px;
}

.barra {
    width: 100%;
}

    }

