<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head')%> 

<body>

<%- include('../partials/header')%> 
    
    <main>
        <section class="product-container">
            <div class="imagen-con-lupa">
                <img src="/images/gin-hendricks.jpeg" alt="Imagen de Gin Hendricks" class="imagen-producto">
                <i class="fa-solid fa-magnifying-glass-plus"></i>
            </div>
            <div class="detalles-producto"> 
                <p class="nombre-producto"> Gin Hendrick's Dry 700 ml </p>
                <div class="half-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <p class="precios"> $8.999 </p>
                <p class="descripcion-producto"> La ginebra Hendrick's es una de las ginebras premium más populares. Se trata de una ginebra con un 44% de grado alcohólico, que se obtiene en remesas de 400 litros destilados en estos dos alambiques, más pequeños de lo habitual. Además esta destilación no se lleva a cabo sumergiendo los botánicos en alcohol, sino que se hace pasar el vapor a través de ellos para conseguir extraer mejor los aromas.</p>
                <div class="container-cantidad">
                    <label for="cantidad" class="label-cantidad">Cantidad</label>
                    <input  id="cantidades" type="number" name="cantidad" class="cantidades" value="1" min="0" max="10">
                </div>
                <div class="container-button-carrito">
                    <input type="submit" value="Agregar al carrito" class="button-carrito">
                </div>
            </div>
        </section>
        <p class="titulo-similar-products">Productos similares</p>
        <section class="container-similar-products">
            <article class="similar-product">
                <img src="/images/gin-bombay.jpg" alt="Gin Bombay" class="imagen-producto-similar">
                    <p class="nombre-producto-similar"> Gin Bombay Sapphire 750 ml </p>
                    <p class="precios-producto-similar"> $4.399 </p>
                <div class="container-button-psimilar">
                    <input type="submit" value="Agregar al carrito" class="button-psimilar">
                </div>
            </article>
            <article class="similar-product">
                <img src="/images/gin-bulldog.png" alt="Gin Bulldog" class="imagen-producto-similar">
                    <p class="nombre-producto-similar"> Bulldog London Dry Gin 700 ml </p>
                    <p class="precios-producto-similar"> $4.859 </p>
                <div class="container-button-psimilar">
                    <input type="submit" value="Agregar al carrito" class="button-psimilar">
                </div>
            </article>
            <article class="similar-product">
                <img src="/images/gin-tanqueray.png" alt="Gin Tanqueray" class="imagen-producto-similar">
                    <p class="nombre-producto-similar"> Gin Tanqueray 750ml London Dry  </p>
                    <p class="precios-producto-similar"> $2.999 </p>  
                <div class="container-button-psimilar">
                    <input type="submit" value="Agregar al carrito" class="button-psimilar">
                </div>
            </article>
            <article class="similar-product">
                <img src="/images/gin-beefeater.jpeg" alt="Gin Beefeater" class="imagen-producto-similar">
                    <p class="nombre-producto-similar"> Gin Beefeater 750ml </p>
                    <p class="precios-producto-similar"> $3.699 </p>  
                <div class="container-button-psimilar">
                    <input type="submit" value="Agregar al carrito" class="button-psimilar">
                </div>
            </article>
            <article class="similar-product">
                <img src="/images/gin-bombay.jpg" alt="Gin Bombay" class="imagen-producto-similar">
                    <p class="nombre-producto-similar"> Gin Bombay Sapphire 750 ml </p>
                    <p class="precios-producto-similar"> $4.399 </p>
                <div class="container-button-psimilar">
                    <input type="submit" value="Agregar al carrito" class="button-psimilar">
                </div>
            </article>
            <article class="similar-product">
                <img src="/images/gin-bulldog.png" alt="Gin Bulldog" class="imagen-producto-similar">
                    <p class="nombre-producto-similar"> Bulldog London Dry Gin 700 ml </p>
                    <p class="precios-producto-similar"> $4.859 </p>
                <div class="container-button-psimilar">
                    <input type="submit" value="Agregar al carrito" class="button-psimilar">
                </div>
            </article>
            <article class="similar-product">
                <img src="/images/gin-tanqueray.png" alt="Gin Tanqueray" class="imagen-producto-similar">
                    <p class="nombre-producto-similar"> Gin Tanqueray 750ml London Dry  </p>
                    <p class="precios-producto-similar"> $2.999 </p>  
                <div class="container-button-psimilar">
                    <input type="submit" value="Agregar al carrito" class="button-psimilar">
                </div>
            </article>
            <article class="similar-product">
                <img src="/images/gin-beefeater.jpeg" alt="Gin Beefeater" class="imagen-producto-similar">
                    <p class="nombre-producto-similar"> Gin Beefeater 750ml </p>
                    <p class="precios-producto-similar"> $3.699 </p>  
                <div class="container-button-psimilar">
                    <input type="submit" value="Agregar al carrito" class="button-psimilar">
                </div>
            </article>
        </section>
    </main>

    <%- include('../partials/footer')%>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>